@font-face {
    font-family: "MeowScript";
    src: url("/src/source/MeowScript-Regular.ttf");
}
.App{
    position: absolute;
    height: 510vh;
    width: 100vw;
    background-size: cover;
    background: linear-gradient(rgb(21, 42, 63), rgb(0, 0, 0)) center;
}
.Main, .aboutMe, .skills, .projects{
    position: relative;
    height: 100vh;
    width: 100vw;
}