.Main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 420px;
}

.Profile{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.Portfolio{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
